.container{
    margin: 2px 40px;
 }
 .imprintLogo img {
   
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 20%;
   padding: 10px 0;
 }
 

   /*industrial robotics space*/
   .allRobotics {
    margin: 20px 8px;
    line-height: 1.4;
    
  }
  
  h2.heading {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #0E5283;
    border-bottom: 2px solid red;
    display: inline-block;
  }
  
  h4.subheading {
    font-size: 18px;
    margin-bottom: 5px; 
    color: #0E5283;
  }
  .allRobotics a {
    color: #0E5283;
    font-weight: 900;
    text-decoration: none;
  }
  .link{
    font-size: 16px;
    margin-bottom: 5px;
  }
  .inner-text{
   text-align: justify;
   font-weight: 200px;
  }

  hr{
    height: 3px; 
    background-color: #000000; 
    margin: 25px 0; 
  }

  .subheadingtext {
    display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; 
  text-align: justify;
  }

  .box{
    width: 80%; 
    height: auto;       
    background-color: #00854a; 
    color: #fff;
    border: 2px solid #000;  
    font-weight: 500;
    padding: 15px;             
    border-radius: 5px;        
    margin-bottom: 20px;       
    font-size: 14px;           
    font-size: 18px;
    text-align: center;
 
  }
  .image img {
    width: 250px; 
    border: 2px solid #000;
  }

  /*column-info*/
  .column-info {
    display: flex;          
    gap: 10px;             
  }
  
  .column {
    flex: 1;                
    display: flex;
    flex-direction: column; 
  }
  
  .row {
    padding: 10px;         
    margin-bottom: 10px;    
    text-align: justify;    
    
  }
  
  .row span {
    font-weight: bold;      
    margin-right: 10px;   
  }
  .main-heading{
    color:#25408f ;
    margin-bottom: 5px;
  }

  /*tabel 1*/
  .container-column {
    display: flex;                         
  }
  .col{
    flex: 1;                 
    padding: 5px;  
  }

  .textheading {
    font-size: 20px;         
    margin-bottom: 10px;     
    font-weight: bold;
    color: #25408f;
  }
  .text{
    text-align: justify;
  }
  
 .col img{
  width: 150px;
  border: 2px solid #000;
 }
  /*responsive*/
  @media (max-width: 1115px){
    .inner-text{
      text-align: left;
    }
    .row{
      text-align: left;
    }
    .text{
      text-align: left;
    }
  }
  @media (max-width: 735px) {
 
    .row {
      padding: 10px;         
      margin-bottom: 10px;    
      text-align: left;    
    }
    .text{
      text-align: left;
    }
   
    .column-info { 
      display: inline;
      gap: 10px;             
    }
  }

  @media (max-width: 620px){
    .container-column {
      display: flex; 
      flex-direction: column;          
      gap: 20px;               
      align-items: center;
    }
  
  }

  @media (max-width: 544px){
    .column-info {    
      display: inline;
      gap: 10px;             
    }
  }



  @media (max-width: 480px){
    h2.heading {
      font-size: 20px;
      text-align: left;
    }
    h4.subheading{
      font-size: 18px;
      text-align: left;
    }
    .box{
      width: 100%;
      font-size: 15px;
    }
    .link{ 
      text-align: left;
      font-size: 16px;
    }
  
  
  }

 
 