.container{
    margin: 2px 40px;
 }
 .imprintLogo img {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 20%;
   padding: 10px 0;
 }
 

h2.heading {
  font-size: 35px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #0E5283;
  border-bottom: 2px solid red;
  display: inline-block;
}
 .allarticles {
  margin: 20px 8px;
     line-height: 1.4;
}
h2 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 30px;
}
.trendArticles {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.article-box {
  width: 22%;
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
  border: 1px solid #000;
  border-radius: 8px;
}

.article-box img {
  width: 100%;
  height: auto;
}

.article-title {
  font-size: 15px;
  font-weight: bold;
}

.read-more {
  color: black;
  text-decoration: none;
}

.read-more:visited {
  color: red;
}

/*responsive*/
@media (max-width: 908px) {
  h2.heading {
    font-size: 28px;
  }

 
  .trendArticles {
    flex-direction: row;
    align-items: center;

  }

  
  .article-box {
    width: 40%;
    margin-bottom: 15px;
  }
}

@media (max-width: 768px) {
  h2.heading {
    font-size: 28px;
  }

 
  .trendArticles {
    flex-direction: row;
    align-items: center;
    gap: 15px; 
  }

  
  .article-box {
    width: 40%;
    margin-bottom: 10px;
    
  }
}

@media (max-width: 497px) {
  h2.heading {
    font-size: 20px;
  }

 
  .article-box {
    width: 50%;
    margin-bottom: 10px;
  }

 
  .allarticles {
    padding: 10px;
    margin: 10px 0;
  }
}

@media (max-width: 320px) {
  h2.heading {
    font-size: 20px;
  }

 
  .article-box {
    width: 70%;
    margin-bottom: 10px;
  }

  .allarticles {
    padding: 10px;
    margin: 10px 0;
  }
}