
   /*heading*/
   .allTrends {
     margin: 20px 0;
     line-height: 1.4;
   }

   h2.heading {
     font-size: 35px;
     margin-top: 10px;
     margin-bottom: 10px;
     color: #0E5283;
     border-bottom: 2px solid red;
     display: inline-block;
   }

   h4.subheading {
     font-size: 25px;
     margin-bottom: 5px;
     color: #0E5283;
   }

   .circle {
     background-color: #04234f;
     color: #fff;
     border-radius: 20px;
     border: 2px solid #000;
     display: inline-block;
     text-align: center;
     margin: 10px;
     line-height: 1.5;
     font-size: 13px;
     padding: 20px;
   }

   .allTrends a {
     color: #0E5283;
     font-weight: bold;
     font-style: italic;
     text-decoration: none;
     font-size: 12px;
   }

   .link {
     padding-left: 30%;
     font-size: 16px;

   }

   .inner-text {
     text-align: justify;
     font-weight: bold;
   }

   hr {
     height: 3px;
     background-color: #000000;
     margin: 25px 0;
   }

   .subheadingtext {
     display: flex;
     align-items: center;
     justify-content: space-between;
     gap: 20px;
   }


   .textColumn {
     flex: 1;
     font-size: 16px;
   }

   .hexagonColumn {
     position: relative;
     /* Adjust based on the new hexagon size */
     display: flex;
     align-items: center;
     justify-content: center;

   }

   .hexagon {
     width: 150px;
     /* Increased width */
     height: 100px;
     /* Increased height */
     background-color: #b2bcce;
     position: relative;
     display: flex;
     align-items: center;
     justify-content: center;
     box-sizing: border-box;
     /* Ensure the border is counted in the dimensions */
   }

   .hexagon:before,
   .hexagon:after {
     content: "";
     position: absolute;
     width: 0;
     border-left: 75px solid transparent;
     border-right: 75px solid transparent;
   }

   .hexagon:before {
     bottom: 100px;
     border-bottom: 50px solid #b2bcce;
     /* Adjusted */

   }

   .hexagon:after {
     top: 100px;
     border-top: 50px solid #b2bcce;
     /* Adjusted */


   }

   .hexagonText {
     position: absolute;
     font-size: 15px;
     /* Increased text size */
     color: #003a6d;
     font-weight: bold;
     text-align: center;
     padding: 5px;
   }

   /*  Image */
   .imageColumn img {
     width: 250px;
     border: 2px solid #000;
   }

   /*industrial automation*/
   .image img {
     width: 250px;
     border: 2px solid #000;
   }

   /*augmented reality*/
   .info-columns {
     display: flex;
     gap: 20px;
   }

   .column {
     display: flex;
     flex-direction: column;
     padding: 10px;
     box-sizing: border-box;
   }

   .subheading {
     font-size: 18px;
     margin-bottom: 10px;
   }

   .text {
     font-size: 16px;
     text-align: justify;
   }


   .hexagonColumn1 {
     position: relative;
     width: 150px;
     /* Adjust based on the new hexagon size */
     height: 100px;
     display: flex;
     align-items: center;
     justify-content: center;
     padding-bottom: 15px;
   }

   .hexagon1 {
     width: 150px;
     /* Increased width */
     height: 100px;
     /* Increased height */
     background-color: #84bb41;
     position: relative;
     display: flex;
     align-items: center;
     justify-content: center;
     box-sizing: border-box;
     /* Ensure the border is counted in the dimensions */
   }

   .hexagon1:before,
   .hexagon1:after {
     content: "";
     position: absolute;
     width: 0;
     border-left: 75px solid transparent;
     border-right: 75px solid transparent;
   }

   .hexagon1:before {
     bottom: 100px;
     border-bottom: 50px solid #84bb41;
     /* Adjusted */

   }

   .hexagon1:after {
     top: 100px;
     border-top: 50px solid #84bb41;
     /* Adjusted */


   }

   .hexagonText1 {
     position: absolute;
     font-size: 15px;
     /* Increased text size */
     color: #003a6d;
     font-weight: bold;
     text-align: center;
     padding: 5px;
   }