.allImprintIssue {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
}

.allImprintIssue ul {
    padding: 10px;
}

.allImprintIssue img {
    width: 300px;
}

.allImprintIssue figcaption {
    color: #000;
}

.search_container {
    text-align: center;
    position: sticky;
    top: 10%;
}


#search-input,
#search {
    padding: 10px;
    outline: none;
    border: 1px solid black;
}

#search-input {
    width: 70%;
}

#search {
    background-color: darkgreen;
    color: #fff;
}
#search:hover{
    background-color: darkgreen;
}

/* @media screen and (max-width: 500px){
    .search_container {
        position: sticky;
        top: 10%;
    } 

}*/

@media screen and (max-width: 400px){
    .search_container{
        padding: 10px 0;
    }
    .allImprintIssue img {
        width: 200px;
    }
}
