.container {
  margin: 2px 40px;
}
.ratetext {
  font-weight: bold;
  font-size: 14px; /* You can adjust this value as needed */
}

.imprintLogo img {

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  padding: 10px 0;
}

/*box css*/
h2.heading {
  font-size: 28px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #0E5283;
  text-align: center;
}

.main-heading {
  text-align: center;
}

.all-box-container,
.box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}

/* .box-container {
  width: 50%;
} */
p.box1-text,
 p.box2-text{
  font-size: 16px;
 }

.box1,
.innerBox2 {
  color: #000;
  background-color: grey;
  text-align: center;
  padding: 5px;
  font-weight: bolder;
}

.innerBox2,
.innerBox3,
.innerBox4,
.innerBox5,
.innerBox6,
.innerBox7,
.innerBox8,
.innerBox9,
.innerBox10,
.innerBox11,
.innerBox12,
.innerBox13,
.innerBox14,
.innerBox15,
.innerBox16,
.innerBox17,
.innerBox18,
.innerBox19,
.innerBox20,
.innerBox21,
.innerBox22,
.innerBox23,
.innerBox24,
.innerBox25 {
  margin: 10px;
  height: 30vh;
  border: 1px solid #000;
}

p {
  font-size: 10px;
  text-align: center;
  font-weight: bold;
  padding: 5px;
}

.box1,
.box2,
.box3,
.box4,
.box5,
.box6,
.box7,
.box8,
.box9,
.box10,
.box11,
.box12,
.box13,
.box14,
.box15,
.box16,
.box17,
.box18,
.box19,
.box20,
.box21,
.box22,
.box23,
.box24,
.box25,
.box27 {
  border: 4px solid #000;
  height: 35vh;
  width: 180px;
  margin: 5px;
}


.box3 {
  position: relative;
}

.innerBox3 {
  color: #000;
  background-color: grey;
  text-align: center;
  font-weight: bolder;
  margin: 0;
  height: 13vh;
  width: 70%;
  position: absolute;
  bottom: 0;
  right: 0;
}

.box4 {
  position: relative;
}

.innerBox4 {
  color: #000;
  background-color: grey;
  text-align: center;
  font-weight: bolder;
  margin: 5px;
  height: 13vh;
  width: 70%;
  position: absolute;
  bottom: 0;
  right: 0;
}

.box5 {
  position: relative;
}

.innerBox5 {
  color: #000;
  background-color: grey;
  text-align: center;
  font-weight: bolder;
  margin: 0;
  margin:0px;
  height: 5vh;
  width: 70%;
  position: absolute;
  bottom: 0;
  right: 0;
}

.box6 {
  position: relative;
}

.innerBox6 {
  color: #000;
  background-color: grey;
  text-align: center;
  font-weight: bolder;
  margin: 4px;
  height: 5vh;
  width: 70%;
  position: absolute;
  bottom: 0;
  right: 0;
}

.box7 {
  position: relative;
}

.innerBox7 {
  color: #000;
  background-color: grey;
  text-align: center;
  font-weight: bolder;
  margin: 0px;
  height: 20vh;
  width: 70%;
  position: absolute;
  bottom: 0;
  right: 0;
}

.box8 {
  position: relative;
}

.innerBox8 {
  color: #000;
  background-color: grey;
  text-align: center;
  font-weight: bolder;
  margin-bottom: 7px;
  margin-right: 4px;
  height: 20vh;
  width: 70%;
  position: absolute;
  bottom: 0;
  right: 0;
}

.box8 {
  position: relative;
}

.innerBox8 {
  color: #000;
  background-color: grey;
  text-align: center;
  font-weight: bolder;
  margin-bottom: 7px;
  margin-right: 4px;
  height: 20vh;
  width: 70%;
  position: absolute;
  bottom: 0;
  right: 0;
}

.box9 {
  position: relative;
}

.innerBox9 {
  color: #000;
  background-color: grey;
  text-align: center;
  font-weight: bolder;
  margin: 0px;
  height: 25vh;
  width: 70%;
  position: absolute;
  bottom: 0;
  right: 0;
}

.box10 {
  position: relative;
}

.innerBox10 {
  color: #000;
  background-color: grey;
  text-align: center;
  font-weight: bolder;
  margin-bottom: 5px;
  margin-right: 4px;
  height: 25vh;
  width: 70%;
  position: absolute;
  bottom: 0;
  right: 0;
}

.box11 {
  position: relative;
}

.innerBox11 {
  color: #000;
  background-color: grey;
  text-align: center;
  font-weight: bolder;
  margin: 0px;
  height: 6vh;
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
}

.box12 {
  position: relative;
}

.innerBox12 {
  color: #000;
  background-color: grey;
  text-align: center;
  font-weight: bolder;
  margin: 5px 4px;
  height: 5vh;
  width: 95%;
  position: absolute;
  bottom: 0;
  right: 0;

}

.box13 {
  position: relative;
}

.innerBox13 {
  color: #000;
  background-color: grey;
  text-align: center;
  font-weight: bolder;
  margin: 0px;
  height: 15vh;
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;

}

.box14 {
  position: relative;
}

.innerBox14 {
  color: #000;
  background-color: grey;
  text-align: center;
  font-weight: bolder;
  margin: 4px 4px;
  height: 15vh;
  width: 95%;
  position: absolute;
  bottom: 0;
  right: 0;

}

.box15 {
  position: relative;
}

.innerBox15 {
  color: #000;
  background-color: grey;
  text-align: center;
  font-weight: bolder;
  margin: 0px;
  height: 8vh;
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;

}

.box16 {
  position: relative;
}

.innerBox16 {
  color: #000;
  background-color: grey;
  text-align: center;
  font-weight: bolder;
  margin: 4px 4px;
  height: 8vh;
  width: 95%;
  position: absolute;
  bottom: 0;
  right: 0;

}

.box17 {
  position: relative;
}


.innerBox17 {
  color: #000;
  background-color: grey;
  text-align: center;
  font-weight: bolder;
  margin: 0px;
  height: 15vh;
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
}

.box18 {
  position: relative;
}

.innerBox18 {
  color: #000;
  background-color: grey;
  text-align: center;
  font-weight: bolder;
  margin: 3px 3px;
  height: 15vh;
  width: 95%;
  position: absolute;
  bottom: 0;
  right: 0;
}

.box19 {
  position: relative;
}

.innerBox19 {
  color: #000;
  background-color: grey;
  text-align: center;
  font-weight: bolder;
  margin: 0px;
  height: 34vh;
  width: 40%;
  position: absolute;
  bottom: 0;
  right: 0;
  top: 0;
  border: 1px solid #000;
}

.box20 {
  position: relative;
}

.innerBox20 {
  color: #000;
  background-color: grey;
  text-align: center;
  font-weight: bolder;
  margin: 5px;
  height: 31vh;
  width: 36%;
  position: absolute;
  bottom: 0;
  right: 0;

  border: 1px solid #000;
}

.box21 {
  position: relative;
}

.innerBox21 {
  color: #000;
  background-color: grey;
  text-align: center;
  font-weight: bolder;
  margin: 0px;
  height: 22vh;
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
}

.box22 {
  position: relative;
}

.innerBox22 {
  color: #000;
  background-color: grey;
  text-align: center;
  font-weight: bolder;
  margin: 4px 5px;
  height: 22vh;
  width: 94%;
  position: absolute;
  bottom: 0;
  right: 0;
}

.box23 {
  position: relative;
}

.innerBox23 {
  color: #000;
  background-color: grey;
  text-align: center;
  font-weight: bolder;
  margin: 0;
  height: 13vh;
  width: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
  ;
}

.box24 {
  position: relative;
}


.innerBox24 {
  color: #000;
  background-color: grey;
  text-align: center;
  font-weight: bolder;
  margin: 5px;
  height: 13vh;
  width: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
}

.box19-left,
.box20-left {
  text-align: left;

}

.box25 {
  position: relative;
}

.innerBox25 {
  color: #000;
  background-color: grey;
  text-align: center;
  font-weight: bolder;
  margin: 5px;
  height: 13vh;
  width: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
}
.subheading {
  font-size: 15px;

}


.box25{ 
  position: relative;
}
.innerBox25{
  color: #000;
  background-color: grey;
  text-align: center;
  font-weight: bolder;
  margin: 4px;
  height: 5vh;
  width: 70%;
  position: absolute;
  bottom: 0;
  right: 0;

}

.box26{
  border: 4px solid #000;
  background-color: grey;
  height: 30vh;
  width: 350px;
  margin: 5px;

}

.box27 {
  position: relative;
}

.innerBox27 {
  color: #000;
  background-color: grey;
  text-align: center;
  font-weight: bolder;
  margin: 4px;
  height: 5vh;
  width: 70%;
  position: absolute;
  bottom: 0;
  right: 0;
}

.box28{
  border: 4px solid #000;
  background-color: #fff;
  height: 30vh;
  width: 350px;
  margin: 5px;
  position: relative;
}
.innerBox28{
  color: #000;
  background-color: grey;
  text-align: center;
  padding: 5px;
  font-weight: bolder;
  height: 28vh;
  width: 333px;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 4px 5px;

}
/*table*/
.table-info
{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #000;
}
.table-column{
  width: 30%; /* Adjust width as needed */
  padding: 10px;
  box-sizing: border-box;
}
.list-content{
  margin: 10px;
  font-size: 15px;
  font-weight: 600;
 
}