.container {
  margin: 2px 40px;
}

.imprintLogo img {

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  padding: 10px 0;
}


/*editorial calender*/
h2.heading {
  font-size: 28px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #0E5283;
  text-align: center;
}

h3.subheading {
  font-size: 18px;
  margin-bottom: 5px;
  color: #0E5283;
  text-align: center;

}

table {
  width: 50%;
  margin: 50px auto;
  border-collapse: collapse;
  font-size: 18px;
}

th,
td {
  border: 2px solid black;
  padding: 10px;
  text-align: center;
  font-weight: 500;
}

table {
  margin-bottom: 15px;
  margin-top: 5px;
}

th {
  background-color: #f2f2f2;
  font-weight: bolder;
}

.calender span {
  display: flex;
  justify-content: end;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 5px;
  padding-right: 30px;
}

/*responsive*/
@media (max-width: 800px) {
  .table {
    width: 50%;

  }
}

@media (max-width: 645px) {
  .table {
    width: 50%;

  }
}

@media (max-width: 600px) {
  .table {
    width: 100%;
  }
  h2.heading{
    font-size: 25px;
  }
  th,
td{
  font-size: 15px;
}
}

@media (max-width: 500px) {
  .table {
    width: 100%;
  }
  h2.heading{
    font-size: 25px;
  }
  th,
td{
  font-size: 15px;
}
.calender span{
  font-size: 18px;
}
}

@media (max-width: 420px) {
  .table {
    width: 100%;
  }
  h2.heading{
    font-size: 20px;
  }
  th,
td{
  font-size: 15px;
}
.calender span{
  font-size: 18px;
  display: flex;
  justify-content: center;
}
}

@media (max-width: 320px) {
  .table {
    width: 100%;
  }
  h2.heading{
    font-size: 20px;
  }
  th,
td{
  font-size: 15px;
}
.calender span{
  font-size: 17px;
  display: flex;
  justify-content: center;
  padding: 5px;
}
}