.advertisement-container {
    border: 1px solid #000;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px 5px;
    padding: 5px 5px;

}

.top-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    color: #fff;
}

.top-bar a {
    text-decoration: none;
    color: #25408f;
    font-size: 20px;
    font-weight: bold;
}


.automation-section {
    margin-top: 20px;
    padding: 10px;
}


.automation-text {
    font-size: 25px;
    color: #25408f;
    font-weight: bold;
    text-align: left;
    margin-bottom: 10px;
}

.first-line {
    width: 30%;
    border: 2px solid #25408f;
    margin: 5px 0;
}

.box1 {
    border: 1px solid #000;
    height: 50vh;
    margin-bottom: 5px;
}

.box2 {
    background-color: #003a6d;
    color: white;
    padding: 15px;
    text-align: left;
}

.box2 h1 {
    font-size: 30px;
    font-size: 45px;
    text-align: center;
}

.logo-container1 {
    margin-bottom: 20px;
}

.box2 {
    height: auto;
}

.logo-container1 img {
    width: 25%;
    float: right;
    margin-left: 10px;
}

.logo-container1 p {
    font-size: 25px;
    text-align: left;
}

.logo-container2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container2 img {
    width: 25%;
    float: left;
    margin-right: 10px;
}

.logo-container2 p {
    font-size: 25px;
    text-align: left;
}

hr {
    border: 1px solid #000;
}

.downbar-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    font-weight: bold;

}

.downbar-info p {
    margin: 0;
}

.downbar-info a {
    color: #003a6d;
    text-decoration: none;
}

.downbar-info a:hover {
    text-decoration: none;
}

/*responsive*/
@media screen and (max-width: 1115px) {
    .first-line {
        width: 50%;
    }
}
@media screen and (max-width: 768px) {
    .top-bar a {
        font-size: 16px;
    }

    .automation-text {
        font-size: 22px;
    }

    .box1 {
        height: 40vh;
    }

    .box2 h1 {
        font-size: 36px;
    }

    .logo-container1 img {
        width: 30%;
    }

    .logo-container1 p {
        font-size: 18px;
    }

    .downbar-info {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
    }

    .downbar-info a {
        margin-top: 5px;
    }

    .first-line {
        width: 40%;
    }
}

@media screen and (max-width: 630px) {
    .logo-container1 img {
        width: 40%;
        margin-left: 5px;
    }

    .first-line {
        width: 90%;
    }
}

@media screen and (max-width: 480px) {
    .advertisement-container {
        padding: 5px;
    }

    .top-bar a {
        font-size: 14px;
    }

    .automation-text {
        font-size: 20px;
    }

    .box1 {
        height: 30vh;
    }

    .box2 h1 {
        font-size: 28px;
    }

    .logo-container1 img {
        width: 45%;
        margin-left: 5px;
    }

    .logo-container1 p {
        font-size: 16px;
    }

    .downbar-info {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
    }

    .downbar-info a {
        margin-top: 5px;
    }

    .first-line {
        width: 100%;
    }
}

@media screen and (max-width: 320px) {

    .logo-container1 img {
        width: 100%;
        margin-left: 5px;
        margin-bottom: 5px;
    }

    .downbar-info {
        display: flex;
        justify-content: space-between;
        font-size: 5px;
    }

    .first-line {
        width: 100%;
    }

}