.advertisement-container {
    background-color: #8C1A1B;
}

.logocontainer img {
    width: 400px;  
}

.logocontainer figure {
text-align: center;
display: flex;
justify-content: center;
}

.inner-box {
    background-color: #ffff00;
    padding: 10px;
    font-size: 10px;
    color: #8a181a;
    font-weight: bold;
    display: inline;
    float: left;
}
.inner-image img{
    width: 200px;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: space-between !important;
    width: 100%;
    color: #fff;
    line-height: 1.6;
}

.text h1 {
    color: #ffff00;
    font-size: 40px;
}

.list-container {
    text-align: left;
    padding:0 20px 20px 0;
    color: #fff;
    line-height: 1.4;
}
.list-container ul{
    padding-left: 10px;
}
.list-container li{
    list-style-type: disc;
    margin: 10px;
}

.list-container ul li {
    font-size: 18px;
    margin-bottom: 8px;
} 

/*responsive*/

@media screen and (max-width: 668px){
    .logo-container{
        display: flex;
        flex-direction: column;
    }
    .inner-box{
        font-size: 12px;
    }
}

@media screen and (max-width: 624px){
    .logocontainer img {
        width: 250px;
    }
    .inner-box {
        font-size: 10px;
    }

}
@media screen and (max-width: 440px){
    .logocontainer img {
        width: 200px;
    }
    .logocontainer figure {
        text-align: center;
        }
        .inner-box {
            font-size: 6px;
        }
        .text h1 {
            color: #ffff00;
            font-size: 30px;
        }
        .inner-image img{
            width: 200px;
        }
}
@media screen and (max-width: 331px){
    .logocontainer img {
        width: 170px;
    }
    .logocontainer figure {
        text-align: center;
        }
        .inner-box {
            font-size: 5px;
        }
        .text h1 {
            color: #ffff00;
            font-size: 25px;
        }
        .inner-image img{
            width: 150px;
        }
    
}

